[MASTER]
ignore=venv,migrations
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function docstring
    R0903,  # Too few public methods (Django models)
    C0103,  # Invalid module name (миграции)
    C0301,  # Line too long (можно увеличить лимит)
    E0401,  # Import errors (проверьте установку Django)
    W0611,  # Unused import
    C0411,  # Wrong import order

[FORMAT]
max-line-length=120
